:root {
    --bg: #fbf1c7;
    --bg_light: #f9f5d7;

    --fg: #3c3836;
    --fg_dark: #282828;

    --red: #cc241d;
    --red_dark: #9d0006;

    --green: #98971a;
    --green_dark: #79740e;

    --yellow: #d79921;
    --yellow_dark: #b57614;

    --blue: #458588;
    --blue_dark: #076679;

    --purple: #b16286;
    --purple_dark: #8f3f71;

    --aqua: #689d6a;
    --aqua_dark: #427b58;

    --gray: #928374;
    --gray_dark: #7c6f64;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 24px;
    padding: 12px;
    border-radius: 12px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.item {
    margin: 24px 0;
}

.item-title {
    margin-top: 6px;
}

a {
    color: var(--purple);
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: var(--purple_dark);
}

.loading-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* overflow-y: hidden; */
    background: rgb(0, 0, 0, 0.25);
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading-info {
    color: rgb(49, 49, 49);
}

.cell-flex {
    display: flex;
    align-items: center;
}

.nothing-here {
    font-size: larger;
    text-align: center;
}
